---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image, Picture } from "@astrojs/image/components";

const catpix = [
  { url: "../images/cat1.jpg", alt: "hello kitty" },
  { url: "../images/cat3.jpg", alt: "hello once more kitty" },
  { url: "../images/cat4_3x2.jpg", alt: "hello again kitty" },
  {
    url: "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png",
    alt: "Google",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <p>https://github.com/SaintSin/astro-array-images</p>
    {
      catpix.map((image, idx) => {
        return (
          <div>
            <p>
              {idx} - {image.alt}
            </p>
            <Picture
              src={image.url}
              aspectRatio="16:9"
              widths={[800]}
              sizes="(max-width: 800px) 100vw, 800px"
              alt={image.alt}
            />
          </div>
        );
      })
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
